$brand-primary: #e9560c;
$brand-primary-alpha: rgba(233, 86, 12, 0.8);
$brand-white: #f4f4f4;
$brand-white-alpha: rgba(244, 244, 244, 0.8);
$brand-gray: #888;
$brand-dark: #222;
$darkish-green: rgb(93, 168, 42);
$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
$content-max-width: 800px;
$margin-bottom: 10px;
$margin-top: 10px;
$padding-bottom: 15px;
$basic-padding: 15px;
$basic-margin: 15px;
$padding-sides: 20px;